<div fxLayout="column" fxFlexFill>
    <mat-toolbar
        color="primary"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <a mat-raised-button color="accent" href="projects">Projects</a>
        <lcu-theme-picker dark-mode="true"></lcu-theme-picker>
    </mat-toolbar>

    <!-- <div class="lcu-content mat-drawer-container"> -->
    <!-- <div class="lcu-content">
    <div 
      class="lcu-card-container margin-2" 
      fxLayout="row" 
      fxFlex
      fxLayout.lt-md="column"> -->
    <div class="margin-2">
        <router-outlet></router-outlet>
    </div>

    <!-- </div>
  </div> -->
</div>
