<div fxLayout="column" fxFlexFill>

  <mat-toolbar
    class="social-toolbar"
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="40%" >
      <img class="logo" src="../assets/svgs/logo.svg">
      <div class="toolbar-title">LowCodeUnit Beta</div>
    </div>
    <div class="toolbar-actions-container" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="25%">
      <!-- <lcu-theme-picker dark-mode="true"></lcu-theme-picker> -->
      <a class="toolbar-action" href="/docs">Docs</a>
      <a class="toolbar-action" href="/blog">Blog</a>
      <a class="toolbar-action" href="/.oauth/logout">Logout</a>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="start center">
      <div
        class="logo"
        fxHide.lt-md="true"
        [style.background-image]="
          'url(' + (State?.Logo || State?.LogoMobile) + ')'
        "
        *ngIf="State?.Logo || State?.LogoMobile"
      ></div>
      <div
        class="logo mobile"
        fxHide
        fxShow.lt-md="true"
        [style.background-image]="
          'url(' + (State?.LogoMobile || State?.Logo) + ')'
        "
        *ngIf="State?.LogoMobile || State?.Logo"
      ></div>

      <a
        mat-button
        href="/"
        class="title margin-left-2"
        [innerHTML]="State?.Title"
      >
      </a>
    </div>
    <span fxHide.lt-md="true" style="background-color: blueviolet">
      <ng-container *ngFor="let action of State?.Actions">
        <ng-container *ngIf="action.Align === 'start'">
          <lcu-action
            class="toolbar-action"
            [action]="action"
            (action-click)="ActionClicked($event)"
          ></lcu-action>
        </ng-container>
      </ng-container>
    </span>

    <span fxHide.lt-md="true">
      <ng-container *ngFor="let action of State?.Actions">
        <ng-container *ngIf="action.Align === 'end'">
          <lcu-action
            class="toolbar-action"
            [action]="action"
            (action-click)="ActionClicked($event)"
          ></lcu-action>
        </ng-container>
      </ng-container>
    </span>

    <span fxHide fxHide.lt-md="false">
      <lcu-hamburger-menu
        class="margin-top-3"
        [action]="MenuAction"
      ></lcu-hamburger-menu>
    </span> -->

  </mat-toolbar>

  <lcu-loader [loading]="State?.Loading"></lcu-loader>


  <router-outlet ></router-outlet>
</div>
