@import "../../../../../common/src/assets/styles/social-card.scss";

.carousel-container{
    text-align: center;
    height: 75px;

}

.promo-container{
    
    margin: 10px;
}

mat-card-actions{
    margin-bottom: -1px !important;
    margin-left: 0px !important;
    margin-right: -0.5px !important;
}


