.main-slot-container{
    padding:10px;
}

.slot-icon{
    
}

.slot-project-header{
    align-items: center;
}

.slot-project-name{
    font-size: 22px;
    font-weight: 600;
    padding-left:5px;
}

.slot-project-description{
    font-size: 12px;
    margin-right: 10px;
}

.slot-action-anchor{
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.action-icon{
    height: 12px;
    width: 12px;
    font-size: 12px;
}