<lcu-dashboard-toolbar
    [project-lookups]="ProjectLookups"
></lcu-dashboard-toolbar>

<lcu-breadcrumb
    [enterprise]="State?.EaC?.Enterprise"
    [enterprises]="State?.Enterprises"
    [loading]="Loading"
>
</lcu-breadcrumb>

<lcu-two-column>
    <div top-left>
        <lcu-project-info-card
            [name]="this.State?.EaC?.Enterprise?.Name"
            [is-editable]="IsInfoCardEditable"
            [is-shareable]="IsInfoCardShareable"
            image="./assets/images/black_thinky.png"
            [loading]="State?.Loading"
            (left-click-event)="HandleLeftClickEvent($event)"
            (right-click-event)="HandleRightClickEvent($event)"
        >
        </lcu-project-info-card>
    </div>
    <div top-right class="usage-stats-col">
        <lcu-usage-stats class="usage-stats"></lcu-usage-stats>
        <!-- <ng-container *ngFor="let ad of State?.Advertisements">
            <lcu-advertisement-card
                [advertisement]="ad"
            ></lcu-advertisement-card>
        </ng-container> -->
    </div>

    <!-- CENTER FEED -->
    <div middle-right *ngIf="ProjectLookups?.length > 0">
        <lcu-activity-card
            class="fit-content"
            [active-environment-lookup]="ActiveEnvironmentLookup"
            [filter-types]="FilterTypes"
            [loading-feed]="State?.LoadingFeed"
            [feed]="State?.Feed"
            [feed-check]="State?.FeedCheck"
            [has-gh-connection]="State?.GitHub?.HasConnection"
            [feed-header-actions]="State?.FeedActions"
        >
        </lcu-activity-card>
    </div>

    <div middle-left *ngIf="ProjectLookups?.length > 0">
        <lcu-question-card
            *ngIf="State?.Questions && ProjectLookups?.length <= 0"
            [questions]="State?.Questions"
        >
        </lcu-question-card>
        <lcu-project-card
            *ngIf="ProjectLookups?.length > 0"
            class="fit-content"
            [applications-bank]="State?.EaC?.Applications"
            [loading]="State?.Loading"
            [project-lookups]="ProjectLookups"
            [projects]="State?.EaC?.Projects"
        ></lcu-project-card>
    </div>
    <div middle-full-width *ngIf="ProjectLookups?.length <= 0">
        <lcu-project-wizard-card></lcu-project-wizard-card>
    </div>

    <div>
        <lcu-team-member-card
            [current-user]="State?.UserLicenseInfo?.Email"
        ></lcu-team-member-card>
    </div>
</lcu-two-column>
