<lcu-dashboard-toolbar
    [project-lookups]="ProjectLookups"
></lcu-dashboard-toolbar>
<div class="teams-container">
    <p class="card-description" *ngIf="!State?.Loading">
        Team members can create new sites or change their settings, depending on
        their permissions.
    </p>
    <p
        class="card-description"
        *ngIf="State?.Loading"
        skeleton-text
        [effect]="SkeletonEffect"
    >
        Team members can create new sites or change their settings, depending on
        their permissions.
    </p>
    <lcu-team-member-card
        [current-user]="State?.UserLicenseInfo?.Email"
    ></lcu-team-member-card>
</div>
