<lcu-dashboard-toolbar
    [project-lookups]="ProjectLookups"
    [project-lookup]="ProjectLookup"
    [loading]="State?.Loading"
></lcu-dashboard-toolbar>

<lcu-breadcrumb
    [enterprise]="State?.EaC?.Enterprise"
    [enterprises]="State?.Enterprises"
    [loading]="Loading"
    [projects]="State?.EaC?.Projects"
    [project-lookup]="ProjectLookup"
>
</lcu-breadcrumb>

<div class="teams-container">
    <p class="card-description" *ngIf="!State?.Loading">
        Team members can create new sites or change their settings, depending on
        their permissions.
    </p>
    <p
        class="card-description"
        *ngIf="State?.Loading"
        skeleton-text
        [effect]="SkeletonEffect"
    >
        Team members can create new sites or change their settings, depending on
        their permissions.
    </p>

    <lcu-team-member-card
        [current-user]="State?.UserLicenseInfo?.Email"
        [enterprise]="State?.EaC?.Enterprise"
        [project-lookups]="ProjectLookups"
        [projects]="State?.EaC?.Projects"
    ></lcu-team-member-card>
</div>
