<mat-card>
    <mat-card-content>
        <lcu-state-config-form
            [app-lookup]="ApplicationLookup"
            [application]="Application"
            [config]="data.config"
            (status-event)="HandleStatusEvent($event)"
        >
        </lcu-state-config-form>

        <mat-error *ngIf="ErrorMessage" fxLayoutAlign="center center">
            {{ ErrorMessage }}
        </mat-error>
    </mat-card-content>

    <mat-card-actions
        class="actions-container"
        div
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <!--  -->
        <button
            *ngIf="!State?.Loading"
            mat-raised-button
            type="submit"
            fxFlex="25%"
            fxFlex.lt-md="30%"
            color="primary"
            (click)="SaveStateConfig()"
            [disabled]="
                !StateConfigFormControl?.dirty || !StateConfigFormControl?.valid
            "
        >
            <!-- <mat-icon>save</mat-icon> -->
            Save
        </button>
    </mat-card-actions>
</mat-card>
