<ng-container *ngIf="!State?.Loading">
<lcu-three-column>
    <div left>
        <lcu-project-info-card 
        [name]="Application?.Application?.Name"
        [description]="Application?.Application?.Description"
        
        (left-click-event)="HandleLeftClickEvent($event)"
        (right-click-event)="HandleRightClickEvent($event)"
        > 

        <!-- <lcu-card-carousel
        [stats]="Stats">
        </lcu-card-carousel> -->

            <div promo class="promo-container"  fxLayout="column" fxLayoutAlign="center center"  fxLayout.lt-md="row" fxLayoutAlign.lt-md="space-around center">
                <div> Access exclusive tools & insights</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="gold-icon">emoji_events</mat-icon>
                    <div class="upgrade-text" (click)="UpgradeClicked()">Upgrade to premium now</div>
                </div>
      
            </div>

            <button action mat-button class="info-card-btn" (click)="SettingsClicked()" >
                <mat-icon>outbox</mat-icon>
                Unpack
              </button>
        </lcu-project-info-card>

        <lcu-analytics-card
            title="Application Stats"
            subtext="Text for testing purposes">
        </lcu-analytics-card>
    </div>
    <div>
        <lcu-feed-card-sm
        title="Processor Details"
        >
        <div more-details *ngIf="Application?.Processor">
            <div>Cache Control: {{Application.Processor.CacheControl}}</div>
            <div>ModifierLookups: {{Application.Processor.ModifierLookups}}</div>
            <div>Priority: {{Application.Processor.Priority}}</div>
            <div>Type: {{Application.Processor.Type}}</div>
            <div>Base Href: {{Application.Processor.BaseHref}}</div>
            <div>Default File: {{Application.Processor.DefaultFile}}</div>
            <div>ID: {{Application.Processor.ID}}</div>
            <div>Label: {{Application.Processor.Label}}</div>
            <div>Registry: {{Application.Processor.Registry}}</div>
            <div>Tenant Lookup: {{Application.Processor.TenantLookup}}</div>
        </div>
        
        </lcu-feed-card-sm>
    </div>
    <div right>
        <lcu-slotted-card
        title="Security Settings"
        icon="security">

            <div *ngIf="IsPrivateFormControl?.value">
                <div>
                  <mat-slide-toggle formControlName="isTriggerSignIn">
                    Is Trigger Sign In Application?
                  </mat-slide-toggle>

                  <mat-icon
                    matSuffix
                    matTooltip="A Trigger Sign In Application will direct the user to sign in if they are not already."
                  >
                    info_outline
                  </mat-icon>
                </div>
            </div>

        </lcu-slotted-card>
    </div>
</lcu-three-column>
</ng-container>