<lcu-breadcrumb
  [project-lookup]="ProjectLookup"
  [application-lookup]="ApplicationLookup"
  [selected-route]="CurrentApplicationRoute"
>
</lcu-breadcrumb>

<lcu-three-column>
  <div left>
    <lcu-project-info-card
      [name]="Application?.Application?.Name"
      [description]="Application?.Application?.Description"
      [is-editable]="IsInfoCardEditable"
      [is-shareable]="IsInfoCardShareable"
      (left-click-event)="HandleLeftClickEvent($event)"
      (right-click-event)="HandleRightClickEvent($event)"
    >
      <!-- Commented out until implemented -->
      <!-- <lcu-card-carousel
                        [stats]="Stats">
                    </lcu-card-carousel> -->

      <button
        *ngIf="Application?.Processor?.Type === 'DFS'"
        action
        mat-button
        class="info-card-btn"
        (click)="SettingsClicked()"
        matTooltip="Update your application to the latest package"
      >
        <mat-icon>outbox</mat-icon>
        Update Package
      </button>
    </lcu-project-info-card>

    <!-- Commented out until implemented -->
    <!-- <lcu-analytics-card
            title="Application Stats"
            subtext="Text for testing purposes">
        </lcu-analytics-card> -->
  </div>
  <div>
    <!-- will need to transfer over to LoadingFeed -->
    <lcu-skeleton-feed-card *ngIf="State?.Loading"></lcu-skeleton-feed-card>

    <ng-container *ngIf="!State?.LoadingFeed">
      <div *ngFor="let feedItem of State?.Feed">
        <lcu-main-feed-card [feed-item]="feedItem"> </lcu-main-feed-card>
      </div>
    </ng-container>
  </div>

  <div right>
    <lcu-security-toggle
      [editing-application]="Application"
      (save-form-event)="SaveSecuritySettings($event)"
    >
    </lcu-security-toggle>

    <lcu-slotted-card
      title="Processor Details"
      icon="developer_board"
      [main-slot-description]="Application?.Processor?.Label"
      action-text="Edit Processor Details"
      (main-action-clicked)="OpenProcessorDetailsDialog($event)"
    >
      <div class="main-slot-container" fxLayout="row">
        <div class="slot-header-container">
          <div
            class="slot-header"
            fxLayout="column"
            fxLayoutAlign="center start"
          >
            <div *ngIf="Application?.Processor?.Type">
              <strong>Type: </strong>
              {{ Application?.Processor?.Type }}
            </div>

            <div *ngIf="Application?.Processor?.DefaultFile">
              <strong>Default File: </strong>
              {{ Application?.Processor?.DefaultFile }}
            </div>

            <div *ngIf="Application?.Processor?.Priority">
              <strong>Priority: </strong>
              {{ Application?.Processor?.Priority }}
            </div>
          </div>

          <!-- <div *ngIf="project.Project.Description" class="slot-description">{{project.Project.Description}}</div> -->
        </div>

        <!-- <div
              class="slot-actions-container"
              fxLayout="row"
              fxLayoutAlign="space-around center"
            > -->
        <!-- <a
                class="slot-action-anchor"
                (click)="OpenProcessorDetailsDialog(null)"
              >
                <mat-icon class="action-icon">edit</mat-icon>
              </a> -->

        <!-- </div> -->
      </div>
    </lcu-slotted-card>
  </div>
</lcu-three-column>
<!-- </ng-container> -->
