<!-- <ng-container *ngIf="!State?.Loading"> -->

<lcu-three-column>
  <!-- left column -->
  <div left>
    <lcu-project-info-card [name]="Project?.Project?.Name" [description]="Project?.Project?.Description"
      [is-editable]="IsInfoCardEditable" [is-shareable]="IsInfoCardShareable" [loading]="State?.Loading"
      [subtext]="Project?.Hosts[Project?.Hosts.length - 1]" (left-click-event)="HandleLeftClickEvent($event)"
      (right-click-event)="HandleRightClickEvent($event)">
      <!-- Commented out until implemented -->
      <!-- <lcu-card-carousel
        [stats]="Stats">
        </lcu-card-carousel> -->

      <div promo class="promo-container" fxLayout="column" fxLayoutAlign="center center" fxLayout.lt-md="row"
        fxLayoutAlign.lt-md="space-around center">
        <div>Access exclusive tools & insights</div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="gold-icon">emoji_events</mat-icon>

          <div class="upgrade-text" (click)="UpgradeClicked()">
            Upgrade to premium now
          </div>
        </div>
      </div>

      <button action mat-button class="info-card-btn" (click)="SettingsClicked()">
        <mat-icon>settings</mat-icon>
        Project Settings
      </button>
    </lcu-project-info-card>

    <!-- <lcu-analytics-card
            title="Temp Title"
            subtext="Text for testing purposes">
        </lcu-analytics-card> -->
  </div>

  <!-- center column -->
  <div>
    <!-- Commented out until github api is hooked up -->
    <!-- <lcu-gh-control></lcu-gh-control> -->

    <!-- <lcu-feed-card-sm
        title="Build 54"
        subtext="main"
        description="description for testing"
        icon="cancel"
      >
        <div actions>
          <button mat-icon-button (click)="LaunchBuildClicked()">
            <mat-icon>launch</mat-icon>
          </button>
          <button mat-raised-button (click)="ViewBuildDetails()">
            View Full Details
          </button>
        </div>
      </lcu-feed-card-sm>

        </lcu-feed-card-sm> -->

    <lcu-loader [loading]="State?.LoadingFeed"></lcu-loader>

    <ng-container *ngIf="!State?.LoadingFeed">
      <div *ngFor="let run of State?.Feed?.Runs">
        <lcu-feed-card-sm [title]="run.RunNumber" [subtext]="run.Committer" [description]="run.CommitMessage"
          [icon]="run.Conclusion === 'success' ? 'check' : 'cancel'">
          <!-- <div actions>
                    <button mat-icon-button  (click)="LaunchBuildClicked()">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-raised-button (click)="ViewBuildDetails()">View Full Details</button>
                </div> -->
        </lcu-feed-card-sm>
      </div>
    </ng-container>
    <!-- Commented out until implemented -->
    <!-- <lcu-main-feed-card *ngFor="let feedItm of FeedItems"
            [title]="feedItm.Title"
            [subtext]="feedItm.Author"> -->

    <!-- <div *ngIf="feedItm.Type === 'BUILD'"actions>
            <button  mat-button>
                <mat-icon>launch</mat-icon>
                Preview
              </button>
              <button mat-button>
                  <mat-icon >merge</mat-icon>
                  Pull Request
              </button>
              <button  mat-button>
                  <mat-icon >share</mat-icon>
                  Share
              </button>
              <button  mat-button>
                  <mat-icon >error_outline</mat-icon>
                  Open Issue
              </button>
        </div> -->

    <!-- <div *ngIf="feedItm.Type === 'ISSUE'"actions>
            <button  mat-button>
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                GitHub
              </button>
              <button mat-button>
                  <mat-icon >add_comment</mat-icon>
                  Comment
              </button>
              <button  mat-button>
                  <mat-icon >share</mat-icon>
                  Share
              </button>
              <button  mat-button>
                  <mat-icon >error_outline</mat-icon>
                  Close Issue
              </button>
        </div> -->

    <!-- </lcu-main-feed-card> -->
  </div>

  <!-- right column -->
  <div right>
    <lcu-slotted-card 
      title="Routes" 
      icon="route" 
      [loading]="State?.Loading"
      [main-slot-description]="NumberOfRoutes + ' route(s) configured'" 
      secondary-slot-description="Add quick route"
      action-text="Create Custom Route"
    >
      <div
          class="main-slot-container"
          fxLayout="row"
          *ngFor="let appRoute of ApplicationRoutes"
        >
        <div 
          class="slot-content" 
          fxLayout="row" 
          fxLayoutAlign="space-between center"
        >
          <div 
            class="slot-header-container" 
            fxLayout="column"
          >
            <div class="slot-header" fxLayout="row">
              <!-- this icon is a temp placeholder -->
              <!-- <mat-icon class="slot-icon">route</mat-icon> -->
              <div *ngIf="appRoute" class="slot-name">{{ appRoute }}</div>
            </div>

            <div>
              <div *ngIf="appRoute.Description" class="slot-description">
                {{ appRoute.Description }}
              </div>
              <!-- <div *ngIf="!project.Project.Description" class="slot-project-description">I'm a temp placeholder description to see how this formats</div> -->
            </div>
          </div>

          <div 
            class="slot-actions-container" 
            fxLayout="row" 
            fxLayoutAlign="space-around center"
          >
            <div 
              class="main-slot-container" 
              fxLayout="row" 
              *ngFor="let appRoute of ApplicationRoutes"
            >
              <div 
                class="slot-content" 
                fxLayout="row" 
                fxLayoutAlign="space-between center"
              >
                <mat-icon class="action-icon">edit</mat-icon>

                <a class="slot-action-anchor" 
                [href]="
                  'https://' + Project.Hosts[Project.Hosts.length - 1] + appRoute
                " 
                target="_blank">
                  <mat-icon class="action-icon">launch</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </lcu-slotted-card>

    <lcu-slotted-card 
      title="Custom Domain" 
      icon="domain" 
      [loading]="State?.Loading"
      main-slot-description="Current Domain"
    >
      <div 
        class="main-slot-container" 
        fxLayout="row"
      >
        <div 
          class="slot-content" 
          fxLayout="row" 
          fxLayoutAlign="space-between center"
        >
          <div 
            class="slot-header-container" 
            fxLayout="column"
          >
            <div class="slot-header" fxLayout="row">
              <div class="slot-name">
                {{ Project?.Hosts[Project?.Hosts.length - 1] }}
              </div>
            </div>
          </div>

          <div 
            class="slot-actions-container" 
            fxLayout="row" 
            fxLayoutAlign="space-around center"
          >
            <a class="slot-action-anchor" (click)="EditCustomDomain()">
              <mat-icon class="action-icon" matTooltip="Edit Custom Domain">edit</mat-icon>
            </a>

          </div>
        </div>
      </div>
    </lcu-slotted-card>
  </div>
</lcu-three-column>
<!-- </ng-container> -->