<lcu-breadcrumb [project-lookup]="ProjectLookup"> </lcu-breadcrumb>

<lcu-three-column>
  <!-- left column -->
  <div left>
    <lcu-project-info-card
      [name]="Project?.Project?.Name"
      [description]="Project?.Project?.Description"
      [is-editable]="IsInfoCardEditable"
      [is-shareable]="IsInfoCardShareable"
      [subtext]="
        Project?.Hosts ? Project?.Hosts[Project?.Hosts?.length - 1] : ''
      "
      (left-click-event)="HandleLeftClickEvent($event)"
      (right-click-event)="HandleRightClickEvent($event)"
    >
      <!-- Commented out until implemented -->
      <!-- <lcu-card-carousel
        [stats]="Stats">
        </lcu-card-carousel> -->

      <button
        action
        color="warn"
        mat-button
        class="info-card-btn"
        (click)="DeleteProject(ProjectLookup, Project.Name)"
      >
      <mat-icon  matTooltip="Delete {{ Project.Name }}">
        delete_forever
      </mat-icon>
        Delete Project
      </button>
      
    </lcu-project-info-card>

    <!-- <lcu-analytics-card
            title="Temp Title"
            subtext="Text for testing purposes">
        </lcu-analytics-card> -->
  </div>

  <!-- center column -->
  <div>

    <lcu-feed-header></lcu-feed-header>

    <lcu-skeleton-feed-card *ngIf="State?.LoadingFeed"></lcu-skeleton-feed-card>

    <ng-container *ngIf="!State?.LoadingFeed">
      <div *ngFor="let feedItem of State?.Feed">
        <lcu-main-feed-card [feed-item]="feedItem"> </lcu-main-feed-card>
      </div>
    </ng-container>
    <!-- Commented out until implemented -->
  </div>

  <!-- right column -->
  <div right>
    <!-- Routes
      secondary-slot-description="Add quick route"
      action-text="Create New Application" -->
    <lcu-slotted-card
      title="Routes"
      icon="route"
      [main-slot-description]="NumberOfRoutes + ' route(s) configured'"
      (main-action-clicked)="OpenNewAppDialog($event)"
    >
      <div>
        <div
          class="main-slot-container"
          fxLayout="row"
          *ngFor="let appRoute of ApplicationRoutes | slice: 0:Slices.Routes"
        >
          <div
            class="slot-content"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="slot-header-container" fxLayout="column">
              <div class="slot-header" fxLayout="row">
                <!-- this icon is a temp placeholder -->
                <!-- <mat-icon class="slot-icon">route</mat-icon> -->
                <a
                  class="slot-header-anchor"
                  [routerLink]="['/routes', appRoute, ProjectLookup]"
                >
                <div *ngIf="appRoute" class="slot-name">{{ appRoute }}</div>
                </a>
              </div>

              <div>
                <div *ngIf="appRoute.Description" class="slot-description">
                  {{ appRoute.Description }}
                </div>
              </div>
            </div>

            <div
              class="slot-actions-container"
              fxLayout="row"
              fxLayoutAlign="space-around center"
            >
              <!-- <div 
              class="main-slot-container" 
              fxLayout="row" 
              *ngFor="let appRoute of ApplicationRoutes"
            > -->
              <div
                class="slot-content"
                fxLayout="row"
                fxLayoutAlign="space-between center"
              >
                <a
                  class="slot-action-anchor"
                  [routerLink]="['/routes', appRoute, ProjectLookup]"
                  matTooltip="Edit {{appRoute}}"
                >
                  <mat-icon class="action-icon">edit</mat-icon>
                </a>
                <a
                  class="slot-action-anchor"
                  [href]="
                    'https://' +
                    Project?.Hosts[Project?.Hosts?.length - 1] +
                    appRoute
                  "
                  target="_blank"
                >
                  <mat-icon class="action-icon">launch</mat-icon>
                </a>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          class="mat-full-width"
          (click)="ToggleSlices('Routes')"
          *ngIf="NumberOfRoutes > 5"
        >
          {{
            Slices.Routes == NumberOfRoutes ? "Show Less" : "Show More"
          }}

          <mat-icon>
            {{
              Slices.Routes == NumberOfRoutes
                ? "expand_less"
                : "expand_more"
            }}
          </mat-icon>
        </button>
      </div>
    </lcu-slotted-card>

    <!-- Domains -->
    <lcu-slotted-card
      title="Custom Domain"
      icon="domain"
      [show-main-icon]="false"
      main-slot-description="Current Domain"
    >
      <div class="main-slot-container" fxLayout="row">
        <div
          class="slot-content"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div class="slot-header-container" fxLayout="column">
            <div class="slot-header" fxLayout="row">
              <div *ngIf="Project?.Hosts" class="slot-name">
                {{ State?.EaC?.Enterprise?.PrimaryHost }}
              </div>
            </div>
          </div>

          <div
            class="slot-actions-container"
            fxLayout="row"
            fxLayoutAlign="space-around center"
          >
            <a class="slot-action-anchor" (click)="EditCustomDomain()">
              <mat-icon class="action-icon" matTooltip="Edit Custom Domain"
                >edit</mat-icon
              >
            </a>
          </div>
        </div>
      </div>
    </lcu-slotted-card>

    <!-- Request Modifiers 
      secondary-slot-description="Add new request modifier"
      action-text="Create New Request Modifier" -->
      <lcu-slotted-card
      title="Modifiers"
      icon="sync_alt"
      [main-slot-description]="NumberOfModifiers + ' Modifier(s) configured'"
      (main-action-clicked)="OpenModifierDialog(null)"
    >
      <div>
        <div
          class="main-slot-container"
          fxLayout="row"
          *ngFor="let mdfrLookup of ProjectsModifierLookups | slice: 0:Slices.Modifiers"
        >
          <div
            class="slot-content"
            *ngIf="Modifiers[mdfrLookup]; let mdfr"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            [title]="mdfr?.Name"
          >
            <!-- <img [src]="slot.imgUrl" [alt]="slot.Name"> -->
            <div class="slot-header-container">
              <div
                class="slot-header"
                fxLayout="row"
                (click)="OpenModifierDialog(mdfrLookup)"
              >
                <!-- this icon is a temp placeholder -->
                <!-- <mat-icon class="slot-icon">work_outline</mat-icon> -->
                <div *ngIf="mdfr?.Name?.length > 28" class="slot-name">
                  {{ mdfr?.Name | slice: 0:25 }}...
                </div>
                <div
                  *ngIf="mdfr?.Name?.length < 28 || mdfr?.Name?.length == 28"
                  class="slot-name"
                >
                  {{ mdfr?.Name }}
                </div>
              </div>

              <!-- <div *ngIf="project.Project.Description" class="slot-description">{{project.Project.Description}}</div> -->
            </div>

            <div
              class="slot-actions-container"
              fxLayout="row"
              fxLayoutAlign="space-around center"
            >
              <!-- <button
                mat-icon-button
                color="warn"
                (click)="DeletModifier(mdfrLookup, mdfr?.Name)"
              >
                <mat-icon matTooltip="Delete {{ mdfr?.Name }}">
                  delete_forever
                </mat-icon>
              </button> -->
              
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          class="mat-full-width"
          (click)="ToggleSlices('Modifiers')"
          *ngIf="NumberOfModifiers > 5"
        >
          {{
            Slices.Modifiers == NumberOfModifiers ? "Show Less" : "Show More"
          }}

          <mat-icon>
            {{
              Slices.Modifiers == NumberOfModifiers
                ? "expand_less"
                : "expand_more"
            }}
          </mat-icon>
        </button>
      </div>
    </lcu-slotted-card>
  </div>
</lcu-three-column>
