:host {
    .lead {
        text-align: center;
        margin-bottom: 2em;
    }

    .discover-card {
        max-width: 100%;
        margin: 10px 20px;
    }

    .launch-btn {
        width: 170px;
    }
}
