<mat-card class="lead">
    <h2>Discover new Application Trials and Integrations</h2>

    <p>Join thousands of users deploying applications with Fathym.</p>

    <p>Start your account today. Cancel anytime.</p>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
    <div fxFlex="60%" fxFlex.lt-md="90%">
        <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayout.lt-md="column"
            fxLayoutGap="2em"
        >
            <div fxFlex="50%" fxFlex.lt-md="100%">
                <mat-card>
                    <mat-card-title>
                        <mat-icon>home_iot_device</mat-icon>

                        IoT Ensemble
                    </mat-card-title>

                    <img
                        mat-card-image
                        src="https://www.fathym.com/assets/images/screenshots/iot-ensemble-demo.png"
                        alt="Photo of a Shiba Inu"
                    />

                    <mat-card-content>
                        The description of the IoT Ensemble.
                    </mat-card-content>

                    <mat-card-actions>
                        <a
                            mat-button
                            color="accent"
                            href="/iot/docs"
                            target="_blank"
                        >
                            Documentation
                        </a>

                        <div fxFlex></div>

                        <a
                            mat-raised-button
                            color="primary"
                            href="/dashboard/iot"
                            target="_parent"
                        >
                            Launch IoT Ensemble
                        </a>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
                <mat-card>
                    <mat-card-title>
                        <mat-icon>storm</mat-icon>

                        Habistack Weather Forecast
                    </mat-card-title>

                    <img
                        mat-card-image
                        src="https://www.fathym.com/assets/images/screenshots/habistack-demo.png"
                        alt="Photo of a Shiba Inu"
                    />

                    <mat-card-content>
                        The description of the weather forecast.
                    </mat-card-content>

                    <mat-card-actions>
                        <a
                            mat-button
                            color="accent"
                            href="/iot/docs"
                            target="_blank"
                            disabled
                        >
                            Documentation
                        </a>

                        <div fxFlex></div>

                        <a
                            mat-raised-button
                            color="primary"
                            href="/dashboard/forecast"
                            target="_parent"
                        >
                            Launch Habistack
                        </a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
