@import "../../../../../common/src/assets/styles/social-card.scss";

.fit-content {
    // height: 500px;
    height: calc(100% - 40px);

    ::ng-deep .slotted-card-content {
        // overflow-y: scroll;
        height: 100%;
    }
}

.devops-card-container {
    width: 100%;
}

.card-description-container {
    height: 110px;
}

@media only screen and (max-width: 959px) {
    .card-description-container {
        height: 110px;
    }
}

@media only screen and (max-width: 1025px) {
    .card-description-container {
        height: 135px;
    }
}
