<!-- <ng-container *ngIf="!State?.Loading"> -->

<lcu-breadcrumb
  [project-lookup]="ProjectLookup"
  [selected-route]="CurrentApplicationRoute"
>
</lcu-breadcrumb>

<lcu-three-column>
  <div left>
    <lcu-project-info-card
      [name]="CurrentApplicationRoute"
      [is-editable]="IsInfoCardEditable"
      [is-shareable]="IsInfoCardShareable"
      (left-click-event)="HandleLeftClickEvent($event)"
      (right-click-event)="HandleRightClickEvent($event)"
    >
      <!-- <lcu-card-carousel
        [stats]="Stats">
        </lcu-card-carousel> -->

      <!-- <button action mat-button class="info-card-btn" (click)="SettingsClicked()" >
                <mat-icon>outbox</mat-icon>
                Unpack
              </button> -->
    </lcu-project-info-card>

    <!-- <lcu-analytics-card
            title="Temp Title"
            subtext="Text for testing purposes">
        </lcu-analytics-card> -->
  </div>
  <div>
    <!-- will need to transfer over to LoadingFeed -->
    <lcu-skeleton-feed-card *ngIf="State?.LoadingFeed"></lcu-skeleton-feed-card>

    <ng-container *ngIf="!State?.LoadingFeed">
      <div *ngFor="let feedItem of State?.Feed">
        <lcu-main-feed-card [feed-item]="feedItem"> </lcu-main-feed-card>
      </div>
    </ng-container>

    <div *ngFor="let route of Routes">
      <lcu-feed-card-sm [title]="route.Name" [description]="route.Description">
        <div actions fxLayout="row">
          <button mat-icon-button (click)="LaunchRouteClicked()">
            <mat-icon>launch</mat-icon>
          </button>

          <button mat-icon-button (click)="EditRouteClicked()">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="UploadRouteClicked()">
            <mat-icon>cloud_upload</mat-icon>
          </button>

          <button mat-icon-button (click)="TrashRouteClicked()">
            <mat-icon>trash</mat-icon>
          </button>
        </div>
      </lcu-feed-card-sm>
    </div>
  </div>

  <div right>
    <!-- Applications
      secondary-slot-description="Add quick app"
      action-text="Create New Application" -->
    <lcu-slotted-card
      title="Apps"
      icon="apps"
      [main-slot-description]="NumberOfApps + ' application(s) configured'"
      (main-action-clicked)="OpenNewAppDialog($event)"
    >
      <div>
        <div
          class="main-slot-container"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          *ngFor="let appLookup of CurrentRouteApplicationLookups | slice: 0:Slices.Applications"
        >
          <div
            class="slot-content"
            *ngIf="
              RoutedApplications[CurrentApplicationRoute][appLookup];
              let app
            "
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="slot-header-container" fxLayout="column">
              <div class="slot-header" fxLayout="row">
                <!-- this icon is a temp placeholder -->
                <!-- <mat-icon class="slot-icon">apps</mat-icon> -->
                <div *ngIf="app.Application.Name" class="slot-name">
                  {{ app.Application.Name }}
                </div>
              </div>

              <div>
                <div
                  *ngIf="app.Application.Description"
                  class="slot-description"
                >
                  {{ app.Application.Description }}
                </div>
                <!-- <div *ngIf="!project.Project.Description" class="slot-project-description">I'm a temp placeholder description to see how this formats</div> -->
              </div>
            </div>

            <div
              class="slot-actions-container"
              fxLayout="row"
              fxLayoutAlign="space-around center"
            >
              <a
                class="slot-action-anchor"
                [routerLink]="[
                  '/applications',
                  appLookup,
                  CurrentApplicationRoute,
                  ProjectLookup
                ]"
              >
                <mat-icon class="action-icon">edit</mat-icon>
              </a>
              <!-- TODO fix href to add on  app.LookupConfig.PathRegex removing the .* -->
              <a
                class="slot-action-anchor"
                [href]="'https://' + Project?.Hosts[Project?.Hosts?.length - 1]"
                target="_blank"
              >
                <mat-icon class="action-icon">launch</mat-icon>
              </a>
            </div>

            <!-- <div class="slot-actions" *ngFor="let action of s.actions">

                        <ng-container *ngIf="action.ButtonType === ICON">
                            <mat-icon [matTooltip]="action.Label" click="SlotActionClickEvent(action.ClickEventName)">{{ action.Icon }}</mat-icon>
                        </ng-container>

                        <ng-container *ngIf="action.ButtonType === BUTTON">
                            <mat-button click="SlotActionClickEvent(action.ClickEventName)">{{ action.Label }}</mat-button>
                        </ng-container>

                    </div> -->
          </div>
        </div>

        <button
          mat-raised-button
          class="mat-full-width"
          (click)="ToggleSlices('Applications')"
          *ngIf="NumberOfApps > 5"
        >
          {{ Slices.Applications == NumberOfApps ? "Show Less" : "Show More" }}

          <mat-icon>
            {{
              Slices.Applications == NumberOfApps ? "expand_less" : "expand_more"
            }}
          </mat-icon>
        </button>
      </div>

      <!-- <div secondary></div> -->
    </lcu-slotted-card>
  </div>
</lcu-three-column>
<!-- </ng-container> -->
