<lcu-dashboard-toolbar
    [project-lookup]="ProjectLookup"
    [loading]="State?.Loading"
></lcu-dashboard-toolbar>

<lcu-breadcrumb
    [enterprise]="State?.EaC?.Enterprise"
    [enterprises]="State?.Enterprises"
    [loading]="Loading"
    [projects]="State?.EaC?.Projects"
    [project-lookup]="ProjectLookup"
    [selected-route]="AppRoute"
    [routed-application]="RoutedApplications"
>
</lcu-breadcrumb>

<div class="routes-container" *ngIf="ActiveEnvironmentLookup && Project">
    <lcu-applications-card
        [active-environment-lookup]="ActiveEnvironmentLookup"
        [applications-bank]="State?.EaC?.Applications"
        [app-route]="AppRoute"
        [loading]="Loading"
        [project]="Project"
        [project-lookup]="ProjectLookup"
    >
    </lcu-applications-card>
</div>
