.social-card{
    background-color: white;
    margin:20px;
    padding:0px;
    border: 2px solid #d3d3d3;
}

mat-card-actions{
    margin-bottom: -1px !important;
    margin-left: 0px !important;
    margin-right: -0.5px !important;
}