@import "../common";

:host ::ng-deep {
    .social-card {
        // background-color: white;
        margin: 20px;
        padding: 15px 5px;
    }

    .social-card mat-card-actions {
        margin-bottom: -1px !important;
        margin-left: 0px !important;
        margin-right: -0.5px !important;
    }

    .promo-container {
        cursor: pointer;
        margin: 10px;
    }

    .info-card-btn {
        width: 100%;
        border-radius: 0px 0px 2px 2px;
        border-top: 1px solid #b9dddd;
        margin: 0px !important;
    }

    .main-slot-container {
        padding: 10px;
    }

    .slot-header-container {
        width: 90%;
    }

    .slot-header {
        align-items: center;
        width: 100%;
        cursor: pointer;
        &:hover {
            color: var(--initial-primary);
        }
    }

    .slot-content {
        width: 100%;
    }

    .slot-name {
        font-size: 13px;
        font-weight: 600;
        text-overflow: ellipsis;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
    }

    .slot-header-anchor {
        font-size: 10px;
        text-decoration: none;
        color: black;
        min-width: 100px;
        width: 100%;

        &:hover {
            color: var(--initial-primary);
        }
    }

    .slot-description {
        font-size: 12px;
        margin-right: 10px;
    }

    .slot-action-anchor {
        font-size: 10px;
        text-decoration: none;
        color: black;

        &:hover {
            color: var(--initial-primary);
        }
    }

    .action-icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
        cursor: pointer;
    }
}
